.room-empty-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 10px;
  height: 52px;
  cursor: pointer;
  line-height: 16px;
  user-select: none;

  & .hiden {
    display: none;
  }

  &:hover {
    border: 1px solid #053dc8;
    & .hiden {
      display: block;
    }
  }
}

.room-empty-box-checked {
  display: flex;
  height: 52px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background: rgba(140, 140, 236, 0.4);

  &::after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('~@/assets/images/selected.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
