.room-empty-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 10px;
  height: 52px;
  cursor: pointer;
  line-height: 16px;
  user-select: none;

  & .hiden {
    display: none;
  }

  &:hover {
    border: 1px solid #053dc8;
    & .hiden {
      display: block;
    }
  }
}

.room-box-action-popover {
  & .ant-popover-arrow-content,
  & .ant-popover-arrow-content::before {
    background: #4d4d4d;
  }
  & .ant-popover-inner {
    background-color: #4d4d4d;
    & .btn {
      color: #fff;
      padding: 4px 0;
      cursor: pointer;
      white-space: nowrap;
    }
  }
}

.room-empty-box-checked {
  display: flex;
  height: 52px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background: rgba(140, 140, 236, 0.4);

  &::after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('~@/assets/images/selected.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
